<% include ./partials/header %>
    <div class="row">
        <div class="well">
        <div class="form-container">
            <h1 class="form-title">Sign Up</h1>
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <% if (errors)  {%>
                        <input class="form-control" required="true" value=<%= username %> type="text" name="username" pattern=".{3,16}" title="3 to 16 characters">
                    <% }else{ %>
                        <input class="form-control" required="true" autofocus="autofocus" type="text" name="username" pattern=".{3,16}" title="3 to 16 characters">
                    <% } %>    
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" required="true" type="password" name="password" pattern=".{5,20}" title="5 to 20 characters">
                </div>
                 <div class="form-group">
                    <label for="password2">Re-type Password</label>
                    <input class="form-control" required="true" type="password" name="password2" pattern=".{5,20}" title="5 to 20 characters">
                </div>
                <% if (errors) { %>
                    <ul class="register-error">
                        <% errors.forEach((error) => { %>
                           <li>
                               <%= error.msg %>
                           </li>
                        <% }) %>   
                    </ul>
                <% } %>
                <div class="form-group">
                    <button class="btn btn-lg btn-orange btn-block">Sign Up!</button>
                </div>
            </form>
        </div>
        </div>
    </div>
<% include ./partials/footer %>
