html {
     position: relative;
     min-height: 100%;
}
 body {
    /* Margin bottom by footer height */
     margin-bottom: 60px;
     background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/black_linen_v2.png");
}
 h4{
     color: #9d9d9d;
}
 a:hover h4{
     color: #fff;
}
 a:hover {
     text-decoration: none;
}
 .thumbnail img {
     width: 100%;
     margin-bottom: 0px;
}
 .thumbnail {
     padding: 0;
     border: 0;
     background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/black-Linen.png");
}
 .thumbnail .caption-full{
     padding: 9px;
}
 .flex {
     display: flex;
     flex-wrap: wrap;
}
 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 60px;
     background-color: #111;
}
 .container .text-muted {
     margin: 20px 0;
     text-align: center;
}
 .comments {
     margin-top: 0px;
}
 .main {
     margin-top: 30px;
}
 h1, p{
     color: #fdfdfd;
}
 .well{
     background: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/black-Linen.png");
}
 hr{
     border-color: #666;
}
 .comment-author{
     color: orange;
}
 .card-menu{
     color: #fdfdfd;
     background: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/black-Linen.png");
}
 .card-menu li {
     background-color: transparent;
}
 .caption-full h4{
     border-bottom: 1px solid gray;
     color: orange;
}
/* Nav and jumbotron */
 .jumbotron{
     background-image: url(http://www.rpgfan.com/pics/HEX_Shards_of_Fate/art-003.jpg);
     background-size: 200%;
     background-position: 13.5% 52%;
     color: #000;
     padding: 10px 60px 20px;
}
 .jumbotron p {
     color: #000;
}
 .navbar-header .banner{
     color: orange;
     text-decoration: underline;
     display: inline-block;
}
 .newcard{
     margin-top: 15px;
}
/* Cards */
/* Forms */
 .delete-form{
     display: inline;
}
 .form-container {
     width: 30%;
     margin: 25px auto;
}
 label{
     color: #9d9d9d;
}
 .form-title{
     text-align: center;
     margin-bottom: 50px;
}
 .register-error{
     color: red;
     list-style: none;
}
