<% include ../partials/header %>
    
<div class="container">
    <header class="jumbotron">
        <div class="container text-center">
            <h1>Hex Spoilers</h1>
            <p>Checkout all the cards form the upcoming set!</p>
            <a class="btn btn-primary btn-lg newcard" href="/cards/new">Add New Card</a>
        </div>
    </header>
    <div class="row flex">
        <% cards.forEach((card) => { %>
           <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="/cards/<%= card._id %>">
                    <div class="thumbnail">
                        <img src="<%= card.image %>">
                        <div class="caption">
                            <h4 class="text-center"><%= card.name %></h4>  
                        </div>
                    </div>
                 </a>
            </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>