<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Menu</p>
            <div class="list-group">
                <li class="list-group-item">Next Card</li>
                <li class="list-group-item">Previous Card</li>
                <li class="list-group-item">Back to gallery</li>
            </div>
        </div>
        <div class="col-md-5 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <h1 class="text-center"><%= card.name %></h1>
            <div class="thumbnail">
                <img class="img-rounded img-fluid" src="<%= card.image %>">
                <div class="caption-full">
                    <p><%= card.description %></p>
                </div>
            </div>
            <a href="/cards">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>